
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<div class="navbar navbar-fixed-top main-nav" role="navigation">
    <div class="container">

        <div class="navbar-header">

            <a  class="navbar-brand navbar-brand-my">
                Super Canvasser System
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-responsive-collapse" aria-expanded="false">
            <ul class="nav navbar-nav">



            









                <ul  *ngFor="let q of currentUser?.role"  class="nav navbar-nav navbar-right">

                        <li *ngIf=" q==='Manager'" routerLinkActive="active" class="dropdown">
                                <a routerLink="ManagerHome">Manager Home</a>
                        </li>

                        <li *ngIf=" q==='Canvasser' " routerLinkActive="active" class="dropdown">
                                    <a routerLink="CanvasserHome">Canvasser Home</a>
                        </li>

                        <li *ngIf=" q==='Admin'" routerLinkActive="active" class="dropdown">
                                <a routerLink="AdminHome">Admin Home</a>
                            </li>
                    </ul>





            </ul>

<!-- not login  -->

             <ul *ngIf="!currentUser?.userName" class="nav navbar-nav navbar-right">

                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a routerLink="Login">Login</a>
                </li>


            </ul>


<!-- already login -->

            <ul *ngIf="currentUser?.userName" class="nav navbar-nav navbar-right">
                <li routerLinkActive="active">
                    <a >Welcome：{{currentUser?.userName}} </a>
                    
                </li>
                <!-- <li routerLinkActive="active">
                    <a routerLink="manage">console</a>
                </li> -->

                <li>
                        <a>Role:{{currentUser?.role}}</a>
                </li>

                <li>
                    <a href="javascript:void(0);" (click)="doLogout()">LogOut</a>
                </li>


            </ul> 



        </div>
    </div>
</div>












<div class="container main-container">
    <router-outlet></router-outlet>
</div>
